.output-area {
    white-space: pre-wrap;
    word-wrap: normal;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 16px;
    max-height: 500px;
    overflow: auto;
    margin: .5rem;
}

.error {
	border: 2px solid red;
}

.CodeMirror {
	border-radius: 3px;
    border: 1px solid #ccc;
    margin: .5rem;
    font-family: 'Source Code Pro', monospace;
}

.button-row {
	display:flex;
	align-items:center;
	justify-content: space-between;
}

.button-row .right {
	margin-left: auto;
}